<h1>Creditos</h1>

<div>
    <div>
        <h3>Saldo</h3>
        <span>{{ valorSaldo }}</span>
    </div>
    <button>Descontar</button>
</div>

<h1>Operações</h1>
<div>
    <div>
        <h2>Depósito</h2>
        <div>
            <h3>Definida:</h3>
            <div>
                <button>1</button>
                <button>10</button>
                <button>100</button>
            </div>
        </div>
    </div>
    <div>
        <h2>Saque</h2>
        <div>
            <h3>Definida:</h3>
            <div>
                <button>1</button>
                <button>10</button>
                <button>100</button>
            </div>
        </div>
    </div>
</div>